*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body {
}
.first-body {
  background-image: url(https://i.postimg.cc/ry475tYN/mouse-click.png), url(https://i.postimg.cc/156TrGCC/h-img.jpg);
  margin: auto;
  position: absolute, relative;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  border: 0.3rem solid black;
  text-align: center;
  padding: 30rem;
  padding-top: 40rem;
  color: white;
}

.welcome-head {
  font-size: 3.5rem;
}
.page2 {
  text-align: center;
  font-size: 1.5rem;
  padding: 1.5rem;
  border: 0 solid white;
  width: 70%;
  margin: auto;

}
