*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body {
}
.first-body {
  background-image: url(https://i.postimg.cc/156TrGCC/h-img.jpg);
  height: 80vh;
  width: 87%;
  margin: auto;
  position: relative;
}
.page1 {
  text-align: center;
  padding: 34rem;
  color: white;
}
.welcome-head {
  font-size: 3.5rem;
}
.page2 {
  text-align: center;
  font-size: 1.5rem;
  padding: 1.5rem;
  border: 0 solid white;
  width: 70%;
  margin: auto;

}
