*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body {
}
.first-body {
  background-image: url(https://i.postimg.cc/ry475tYN/mouse-click.png), url(https://i.postimg.cc/nV67tBFt/logo.png), url(https://i.postimg.cc/156TrGCC/h-img.jpg);
  margin: auto;
  position: absolute, absolute, relative;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 100px 100px, cover;
  background-position: 50% 95%, 50% 35%;
  border: 0 solid ;
  text-align: center;
  padding: 30rem;
  padding-top: 40rem;
  color: white;
}
.welcome-head {
  font-size: 3.5rem;
}
.page2 {
  text-align: center;
  font-size: 1.5rem;
  padding: 1.5rem;
  border: 0 solid white;
  width: 70%;
  margin: auto;
}
.third-body {
  background-image: url(https://i.postimg.cc/ZKxkRbZc/s-image.jpg);
  margin: auto;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0 solid;
  height: 40rem;
}
.page3 {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  padding-top: 15rem;
}
h2 {
  font-size: 3.5rem;
  text-align: center;
}
.page4 {
  column-count: 3;
  text-align: center;
}
#what-we-do-h2 {
  text-align: center;
}
.design-img-text {
  display: inline;
  font-size: 1.5rem;
}
.development-img-text {
  display: inline;
  font-size: 1.5rem;
}
#development-img {
  padding-top: 3rem;
}
.product-management-img-text {
  display: inline;
  font-size: 1.5rem;
}
#product-management-img {
  padding-top: 2rem;
}
.portfolio {
  text-align: center;
  width: 75%;
  margin: auto;
}
.portfolio-images {
  border: 0 solid;
  width: 200px;
  height: 150px;
  margin: 1rem;
}
.fifth-body {
  background-image: url(https://i.postimg.cc/cLFzC09p/c-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 0 solid;
  height: 60rem;
  padding-top: 2.3rem;
  text-align: center;
  color: white;
}
input:focus::placeholder {
  color: transparent;
}
input::placeholder {
  font-size: 1.5rem;
  color: white;
  transition: color 0.3s ease;
  position: relative;
  text-align: justify;
}
input {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 450px;
  height: 30px;
  border: 0.1rem solid white;
  padding: 1rem;
  margin: auto 1rem auto 1rem;
  outline: none;
  font-size: 1.5rem;
  background: none;
  color: white;
}
.name-email-input {
  column-count: 2;
  width: 70%;
  margin: auto;
}
.message {
  height: 30rem;
  width: 65%;
  padding-bottom: 27rem;
}
.message::placeholder {
  position: absolute;
}
.sixth-body {
  text-align: center;
  font-size: 1.5rem;
}
.social-media-handles {
  padding: 1rem;
}
